body 
{
	background-color: lightblue;
}
h1
{
	font-family:Comic Sans MS,cursive, sans-serif;
	text-align: center;
	font-size:30pt;
    color: rgb(255,99,71);
    
	border-bottom: solid 2px blue;
	color: red;
}
p
{
	font-family: Arial, Courier, monospace;
	font-size:14pt;
    color: darkblue;
    text-align: justify;
}